@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-color: #080808;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}